@import url(../../vendor/fonts.css);

.about {
  padding: 80px 104px;

  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.about__content {
  max-width: 1232px;
  display: flex;
  align-items: center;
  gap: 56px;
  margin: 0 auto;
  justify-content: center;
}

.about__image-container {
  width: 464px;
  height: 464px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about__text-container {
  max-width: 600px;
  flex-grow: 1;
}

.about__text {
  font-family: "Roboto, sans-serif";
  color: #1a1b22;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.about__title {
  font-family: "Roboto Slab, Arial, sans-serif";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
  margin-top: 0;
  color: #1a1b22;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
    position: relative;
    border-bottom: none;
  }

  .about__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
  }

  .about__image-container {
    width: 232px;
    height: 232px;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    transform: translateX(50%, 50%);
    z-index: 10;
  }

  .about__image {
    width: 232px;
    height: 232px;
    object-fit: cover;
    border: 4px solid #fff;
  }

  .about__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;
  }

  .about__text-container {
    max-width: 420px;
    margin-top: 40px;
    text-align: center;
    flex-direction: column;
  }

  .about__text {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .about__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 24px;
    gap: 24px;
    height: 100%;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about__text {
    font-size: 18px;
    line-height: 24px;
  }
}
